{% extends 'base.html' %}
{% block title%}
    To-do App | Edit
{% endblock %}

{% block content %}
    <h1> Edit Page </h1>
    {% if item %}
        <p> Exiting Item : {{item.item}} </p>

        <form class="d-flex" method="POST">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="{{item.item}}" value="{{item.item}}" aria-label="Search" name = 'item'>
            <input type="hidden" name=""value="{{item.completed}}" name="completed">
            <button class="btn btn-outline-secondary" type="submit">Confirm Edit</button>
        </form>
    {% endif %}

{% endblock %}